@import url(colours.css);
@import url(font.css);
@import url(common.css);


html {
    height: 100vh;
    font-size: 16px;
    color: var(--text);
    background-color: var(--background);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

main {
    min-width: clamp(30ch, 30vw, 55ch);
    min-height: 20rem;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.login {
    margin-block-end: 1rem;
    background-color: white;

    border: 1px solid var(--item-border-colour);
    border-radius: .25rem;
}


main {
    position: relative;
}

[data-svg="updog"] {
    position: absolute;
    bottom: 100%;
    height: 7rem;
    left: 50%;
    translate: -50% 0;
    width: 10rem;
}

[data-svg="updog"] svg {
    position: absolute;
    bottom: -12%;
}

:is([data-svg="updog"], [data-svg="sidedog"]) #pupils,
:is([data-svg="updog"], [data-svg="sidedog"]) #pupils * {
    transition: 250ms ease-in-out translate;
}

[data-svg="updog"] .cls-3 {
    fill: var(--primary);
}